.yellowBar {
    display: block;
    background-color: #FFD500;
}

.yellowBarContent {
    text-align: center;
    padding: 2% 32%;
}

.yellowBarContent h4 {
    padding-top: 2%;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 2em 0 2em 10%;
    gap: 1.2em;
}

fieldset legend {
    font-size: 2.5em;
    font-weight: 650;
    margin: 0;
}

.formItem {
    display: flex;
    flex-direction: column;
}

.formItem label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.formItem #descricaoMeta {
    max-width: 35vw;
}

.formItem input {
    max-width: 20vw;
    padding: 0.5em;
}

.formButtons {
    display: flex;
    flex-direction: row;
    margin-top: 1.3em;
    gap: 2em;
}

.formButtons button {
    padding: 0.1em 0;
    width: 9rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.saveButton {
    background-color: #FFD500;
}

.cancelButton {
    background-color: #c2c2c2;
}