main{
	min-height: 110em;
}

hgroup {
	text-align: center;
	margin-top: 6em;
}

#calendar {
	width: 100%;
}

#calendar a {
	color: #FFD550;
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#calendar li {
	display: block;
	float: left;
	width:14.342%;
	padding:5px;
	box-sizing:border-box;
	border: 1px solid #000;
	margin-right: -1px;
	margin-bottom: -1px;
	background-color: rgb(45, 45, 45);
}

#calendar ul.weekdays {
	height: 50px;
	background: #666;
}

#calendar ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 12px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar .days li {
	height: 180px;
}

#calendar .days li:hover {
	background: #d6d6d6;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
	background: #333;
	color: #fff;
	width: 30px;
	float: right;
}

#calendar .event {
	clear: both;
	display: block;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #FFD550;
	border: 1px solid #b5dbdc;
	color: #12525b;
	text-decoration: none;
}

#calendar .event-desc {
	color: rgb(2, 117, 225);
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: rgb(73, 73, 73);
	color: #333;
}



/* ============================
		RESPONSIVIDADE MOBILE
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
	}
}