.navBarItems {
    width: 100%;
}

nav ul {
    width: 100%;
    height: 80px !important;
}

nav ul li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul > li:hover  {
<<<<<<< HEAD
    background-color: #c2a619ab;

=======
    background-color: #ffffff;
>>>>>>> f4ba0c3702410396b391c7da0dd7b923b4b884bb
}

nav ul > li > a {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.navText {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#StyleIcon {
    color: #FFD500;
    font-size: 2em;
}

.backgroudLastIcons {
    background-color: #FFD500;
}

#lastIconsStyle {
    color:black;
}
main {
    min-height: 85vh;
    background-color: white;
}

.text-reset {
    text-decoration: none;
}
