body main {
    background-color: #FFFDE6;
}

#logohp {
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulologohp {
    font-family: 'Roboto';
    font-style: bold;
    color:#343F4B;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(180, 174, 174);
    font-size: 3.5rem;
}

.buttonhp {
    border: 0;
    line-height: 2.5;
    align-items: center;
    width: 90%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    color: rgb(3, 3, 3);
    text-shadow: 1px 1px 1px rgb(180, 174, 174);
    border-radius: 50px;
    background-color: #EAD80E;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.buttonhp:hover {
    background-color: #988d17;
}

.buttonhp:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#1stitem {
    margin-top: 50px;
}

#lstitem {
    margin-bottom: 50px;
}

