body, main {
    background-color: #FFFDE6;
}

main {
    min-height: fit-content;
}

.yellowBar {
    height: 200px;
    display: block;
    background-color: #FFD500;
}

.yellowBarContent {
    text-align: center;
    padding: 2% 32%;
}

.yellowBarContent h4 {
    padding-top: 2%;
}

.maincontent {
    text-align: center;
    font-size: large;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #FFFDE6;
}

.sociallink:link, .sociallink:visited {
    color: black;
    text-decoration: none;
}

.sociallink:hover {
    color: #ffd500e7;
    text-shadow: 2px 2px 2px #353533;
    text-decoration: none;
}

.sociallink:active {
    text-decoration: none;
}
