:root {
    --azul-principal: #243763;
    --branco: #F0F3F8;
    --laranja: #FF6E31;
    --amarelo-claro: #FFEBB7;
    --preto: #1E1E1E;
    --amarelo: #FFB125;
}

header {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--amarelo-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    border-radius: 20px;
    padding: 1rem 3rem;
    height: 3rem;
}

.nome_header {
    font-size: 28px;
}

.header_principal {
    font-size: 20px;
    font-weight: 800;
    color: var(--azul-principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_header {
    width: 100px;
    height: 100px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
}

.header_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
}

.header_links li {
    list-style: none;
    padding: 1.5rem;
}

.header_links a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 700;
    font-size: 20px;
}

.login-div {
    display: flex;
    align-items: center;
}

.header_login {
    background-color: var(--laranja);
    color: var(--branco); 
    border: none;
    border-radius: 90px; 
    font-size: 20px;
    font-weight: 700;
    padding: 1rem 2rem;
    min-width: 8rem;
    max-height: 3.5rem;
}

.header_login:hover {
    background-color: var(--amarelo);
    color: var(--azul-principal);
    cursor: pointer;
}

.header_login a {
    text-decoration: none;
}