:root {
    --azul-principal: #243763;
    --branco: #F0F3F8;
    --laranja: #FF6E31;
    --amarelo-claro: #FFEBB7;
    --preto: #1E1E1E;
    --amarelo: #FFB125;
}

header {
    font-family: 'Montserrat', sans-serif !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 1.5rem !important;
    border-radius: 20px !important;
    padding: 1rem 3rem !important;
    height: 3rem !important;
}

.nome_header {
    font-size: 28px;
}

.nome_header a {
    text-decoration: none;
    color: white
}

.nome_header a:hover,
.header_links a:hover {
    color: yellow
}

.header_principal {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_header {
    width: 100px;
    height: 100px;
}

body {
    background-color: var(--azul-principal);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--azul-principal);
    font-family: 'Montserrat', sans-serif;
}

main {
    margin: 3rem auto;
}

.container_principal_home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--branco);
    margin-bottom: 3rem;
}

.form {
    width: 30rem;
    height: 36rem;
    background-color: #435378;
    border-radius: 30px;
}

.form-login {
    width: 30rem;
    height: 23rem;
    background-color: #435378;
    border-radius: 30px;
}

.cabelinho {
    margin-bottom: 15rem;
}

.jacare {
    margin-top: 15rem;
}

.img {
    width: 30vh;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    text-align: center;
    color: #FFEBB7;
    margin-top: 1.0rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}

.linhalogin {
    display: grid;
    margin-left: 7%;
    margin-right: 7%;

}

.inputlabellogin {
    width: 100%;
    height: 2rem;
    background: #FFF9E8;
    border-radius: 15px;
    border: none;
    color: #343439;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-weight: bolder;
}

.inputlabellogin::placeholder{
    color: #B8B8CD;
}



.labellogin {
    font-family: 'Montserrat', sans-serif;
    color: #FF6E31;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 2px;
}


.btn-pronto-linha {
    width: 100%;
    display: flex;
}

.btn-pronto {
    font-family: 'Montserrat', sans-serif;
    color: #F0F3F8;
    font-weight: bolder;
    font-size: 1rem;
    width: 136px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background: #FF6E31;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
}


.btn-pronto:hover {
    color: yellow;
    border: 1px;
    border-color: yellow;
    border-style: solid;

}

.campos {
    font-family: 'Montserrat', sans-serif !important;
    color: #FFFFFF;
    margin-top: 1rem;
    font-size: small;
}

.campos-login {
    font-family: 'Montserrat', sans-serif !important;
    color: #FFEBB7;
    margin-top: 1rem;
    font-size: small;
    text-decoration: none;
}

.campos-login:active{
    font-family: 'Montserrat', sans-serif !important;
    color: #FFEBB7;
    margin-top: 1rem;
    font-size: small;
    text-decoration: none;
}

.entre1 {
    font-family: 'Montserrat', sans-serif !important;
    color: #FFFFFF;
    margin-top: 1rem;
    font-weight: bold;

}

.entre2 {
    font-family: 'Montserrat', sans-serif;
    color: #FF6E31;
    font-weight: bold;
}

.entre1-login {
    font-family: 'Montserrat', sans-serif !important;
    color: #FFFFFF;
    margin-top: 1rem;
    font-weight: bold;
    padding-top: 20px;

}

.entre2-login {
    font-family: 'Montserrat', sans-serif;
    color: #FF6E31;
    font-weight: bold;
}