body {
    background-color: #243763;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 40px;
}

#titulo-metas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-metas h2 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.paragrafo_descricao {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.adicionar-meta {
    justify-content: center;
    margin-top: 5em;
    margin-left: 10em;
}

.texto-add-nova-meta {
    font-size: 20px;
    font-weight: 550;
}

.bi-plus-circle {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 1.1em;
}

#blocoMetas {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

#blocoMeta {
    display: inline-flex;
    align-items: center;
    gap: 4em;
}

.conteudoMetas {
    width: 40em;
    height: 10em;
    background-color: #FFF9E8;
    border-radius: 45px;
    padding: 2em;
    display: flex;
    align-items: center;
}

.cofrePorco {
    width: 5.5em;
    height: 5.5em;
}

.containerMeta {
    margin: 0 0.75rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.descricaoMeta {
    font-size: 1.8em;
    font-weight: 500;
}

.barraProgresso {
    width: 21.5em;
    height: 2em;
    background-color: white;
    border-radius: 15px;
    margin: 0.5em 0 0.3em 0;
}

.barraVerde {
    height: 100%;
    border-radius: 15px;
    background-color: #13CE66;
}

.containerDataProgresso {
    display: flex;
    flex-direction: column;
}

.dataMeta,
.valorRestante,
.valorMeta {
    font-size: 1.1em;
    font-weight: 500;
}

.containerDelete {
    margin-left: 1.4em;
}

.botaoDelete {
    color: #C51D1D;
    size: 10px;
    font-size: 2.5em;
    border: none;
    background-color: #FFF9E8;
    padding: 0 0 0.3em 0;
    margin: 0.5em;
}

.botaoAtualizarValor,
.botaoEditar {
    background-color: #FF6E31;
    width: 9rem;
    height: 2rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.addNovaMetaBotao {
    background-color: #7BEA71;
    width: 19rem;
    height: 2.5em;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-left: 2em;
    margin-top: 2em;
}

/* MODAL INSERIR ENTRADA META */
.bi-cash-stack {
    margin-left: 4px;
}

.bi-pencil {
    margin-left: 6px;
}

.body-modal-nova-entrada label {
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-right: 1em;
}

#nova-entrada-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nova-entrada-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-modal-nova-entrada input {
    max-width: 11em;
    padding: 0.5em;
}

.modal-footer {
    justify-content: space-evenly;
}

.botao-modal-salvar,
.botao-modal-cancelar,
#btn-excluir {
    padding: 0.4em 0;
    width: 9rem;
    font-weight: 500;
    border: none;
    border-radius: 15px;
}

.botao-modal-cancelar {
    background-color: #c2c2c2;
    opacity: 0.85;
}

.botao-modal-salvar {
    background-color: #7BEA71;
    opacity: 0.85;
}

#btn-excluir {
    opacity: 0.85;
    color: #000;
    border-radius: 20px;
    max-height: 2em;
}

.botao-modal-cancelar:hover,
.botao-modal-salvar:hover, #btn-excluir:hover {
    opacity: 1;
    font-weight: 800;
}

/* MODAL CRIAR/EDITAR META */
.modal-content {
    background-color: #FFF9E8;
}

.modal-header {
    justify-content: center;
}

#TituloModal {
    color: #243763;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.6em;
}

#nova-editar-meta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-nova-meta {
    font-size: 1.6em;
}

.body-modal-criar-editar-meta .formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6em;
}

.formItem label, .valor-entrada {
    margin-bottom: 0.3em;
    margin-right: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.formItem>input, #valor-entrada {
    width: 20em !important;
    padding: 0.5em;
    border-radius: 8px;
    border: gray 1px solid;
    height: 45px;
}

#page-container {
    position: relative;
    min-height: 75vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* altura do rodapé */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* altura do rodapé */
}

.container-porquinho {
    display: flex;
    justify-content: end;
}

.img-porquinho {
    margin-top: 20rem;
}