body {
    background-color: #243763;
}

header {
    padding: 40px;
}

#titulo-metas h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 650;
    color: #fff;
}

#blocoMetas {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

#blocoMeta {
    display: inline-flex;
    align-items: center;
    gap: 4em;
}

.conteudoMetas {
    width: 40em;
    height: 10em;
    background-color: #FFF9E8;
    border-radius: 45px;
    padding: 2em;
    display: flex;
    align-items: center;
}

.cofrePorco {
    width: 5.5em;
    height: 5.5em;
}

.containerMeta {
    margin: 0 0.75rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.descricaoMeta {
    font-size: 1.8em;
    font-weight: 500;
}

.barraProgresso {
    width: 21.5em;
    height: 2em;
    background-color: white;
    border-radius: 15px;
    margin: 0.5em 0 0.3em 0;
}

.barraVerde {
    height: 100%;
    border-radius: 15px;
    background-color: #13CE66;
}

.containerDataProgresso {
    display: flex;
    flex-direction: column;
}

.dataMeta, .valorRestante, .valorMeta {
    font-size: 1.1em;
    font-weight: 500;
}

.containerDelete {
    margin-left: 1.4em;
}

.botaoDelete {
    color: #C51D1D;
    size: 10px;
    font-size: 2.5em;
    border: none;
    background-color: #FFF9E8;
    padding: 0 0 0.3em 0;
    margin: 0.5em;
}

.botaoAtualizarValor, .botaoEditar {
    background-color: #FF6E31;
    width: 9rem;
    height: 2rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.addNovaMetaBotao {
    background-color: #7BEA71;
    width: 15.5rem;
    height: 1.7em;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-left: 1.5em;
}

/* MODAL INSERIR ENTRADA META */
.botao-modal-fechar {
    background-color: #fff;
    border: none;
}

.botao-modal-fechar span {
    font-size: 1.7em;
}

.body-modal-nova-entrada label {
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-right: 1em;
}

.body-modal-nova-entrada input {
    max-width: 11em;
    padding: 0.5em;
}

.modal-footer {
    justify-content: space-evenly;
}

.botao-modal-salvar, .botao-modal-cancelar, #btn-excluir {
    padding: 0.1em 0;
    width: 9rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.botao-modal-cancelar {
    background-color: #c2c2c2;
    opacity: 0.85;
}

.botao-modal-salvar {
    background-color: #FFD500;
    opacity: 0.85;
}

.botao-modal-cancelar:hover, .botao-modal-salvar:hover {
    opacity: 1;
}

/* MODAL CRIAR/EDITAR META */
.title-nova-meta {
    font-size: 1.6em;
}

.body-modal-criar-editar-meta .formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6em;
}

.formItem label {
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-right: 1em;
}

.formItem > input {
    max-width: 18em;
    padding: 0.5em;
}
