body {
    background-color: #243763;
    font-family: 'Montserrat', sans-serif;
}


.yellowBar {
    display: block;
    background-color: #FFEBB7;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    border-radius: 20px;
    padding: 1rem 1rem;
    height: 7rem;
}

.yellowBarContent {
    text-align: center;
    }

.yellowBarContent h1 {
    font-size: 42px;
    text-shadow: 1.2px 1.2px 1.2px rgb(180, 174, 174);
}

.yellowBarContent h4 {
    padding-top: 1%;
    font-size: 20px;
}

.container {
    margin-top: 35px;
    margin: 1.5rem;
    border-radius: 20px;
    padding: 1rem;
}

.centro {
    text-align: center;
    font-size: 24px;
    background: #FFEBB7;
    padding: 0.50rem;
    border-radius: 8px;
    display: block;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 500;

}

.questao {
    display: flex;
        font-weight: 600;
}

#numQuestao {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.questoes {
    padding: 1.5rem;
    border: 2px solid #FFEBB7;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    background: #FFEBB7;
    
}

.questoes ol li {
    display: block;
    margin: 0.75rem;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 20px;
}

.questoes ol li:hover {
    background: #243763;
    cursor: pointer;
}

.bloqueado {
    display: none;
}

.bloqueado li:hover {
    display: none;
}

#aviso {
    font-size: calc(1.325rem + 0.2vw);
    font-weight: 500;
    text-align: center;
}

@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px #FFEBB7);
    }

    100% {}
}

.animar {
    animation: piscar .75s infinite alternate;
}

.aparecer {
    animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.acertou {
    background: lightgreen;
    animation: aparecer 0.09s infinite alternate;
}

.errou {
    background: rgb(236, 87, 87);
    animation: aparecer 0.09s infinite alternate;
}

.placar {
    padding: 1rem;
    border-radius: 4px;
    background: #FFEBB7;
    font-size: 2rem;
    
}

.prog {
    text-align: center;
   
}

#pergunta {
    text-align: left;
    font-size: 20px;
}

